# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo
*.u2d
*.sdf
*.user
*.swp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store

[Bb]uild*/
[Bb]in/
.vs/
.vscode/
